@font-face {
    font-family: 'JetBrains Mono';
    src: url(./JetBrainsMono-Medium.woff2) format('.woff2');
    font-style: normal;
}
* {
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
}
/* color variables */
:root {

    --text-color: #1f1f1f;
    --text-color-intense: #535353;
    --text-color-soft: #828282;

    --menu-bg: #e5e5e5;
    --main-bg: #f5f5f5;
    --info-bg: #e5e5e5;

    --button-green: #55a858;
    --button-red: #f85d51;
    --button-yellow: #f8c451;
}

h1 {
    color: var(--text-color);
}
h2 {
    color: var(--text-color);
}
h3 {
    color: var(--text-color);
}
h4 {
    color: var(--text-color-intense);
}

p {
    color: var(--text-color-intense);
}

li {
    color: var(--text-color-intense);
}



body {
    display: grid;
    margin: 0;
    height: 100vh;
    background-color: var(--main-bg);
    grid-template-columns: 300px 1fr 0px;
    padding: 20px;
}

.menu, .main, .info {
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
}

.main {
    max-width: calc(100vw);  
}

.menu { 
    background-color: var(--menu-bg);
    color: var(--text-color);
    border-radius: 15px;
}

.menu-icon span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);

}

.menu-icon:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: ease-in-out 0.2s all;
}

.tasks-title , .projects-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: smaller;
}

.tasks-selection, .projects-selection {
    font-size: 1.1rem;
}

.menu .tasks-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    padding: 0;
}

.option-task {
    list-style: none;
    cursor: pointer;
}

.menu .projects-section {
    display: flex;
    flex-direction: column;
    background-color: var(--info-bg);
    gap: 20px;
}

.create-project .plus {
    font-size: 1.5rem;
    margin-right: 10px;
}

.create-project {
    font-size: 1.2rem;
}

.anima-below {
    position: relative;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    align-content: center;
    margin: 0;
}

.anima-below::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--text-color-soft);
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

.anima-below:hover::after,
.anima-below:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.selected {
    background-color: var(--info-bg);
    color: var(--text-color);
    font-weight: 700;
}
.selected::before {
    content: "•";
    margin-right: 10px;
}

.selected::after {
    background-color: var(--text-color);
}

.project-input-button {
    background-color: var(--button-green);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.project-input-button:nth-last-child(1){
    background-color: var(--button-red);
}

.project-input {
    border: solid 1.5px var(--text-color);
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.project-input:focus, project-input:valid {
    outline: none;
    border: 2px solid var(--text-color);
}

.project-input:focus ~ label, project-input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--text-color);
    padding: 0 .2em;
    color: var(--text-color);
}

.create-project-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-div {
    display: flex;
    gap: 10px;
}

.main-header {
    display: flex;
    gap: 10px;
    align-items: center;

}

.main-header h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 10px;
    padding: 0;
    color: var(--text-color);
}

.main-header span {
    font-size: 1.5rem;
    padding: 5px 10px;
    border-top: 1px solid var(--text-color-intense);
    border-bottom: 1px solid var(--text-color-intense);
    color: var(--text-color-intense);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.create-task .plus:hover {
    animation: plusRotate 1s;
}

.create-task {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    color: var(--text-color-intense);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    border-top: 1px solid var(--text-color-soft);
    border-bottom: 1px solid var(--text-color-soft);
    background-color: var(--info-bg);
}

.create-task:hover {
    cursor: pointer;
    animation: backgroundDarken 0.5s;
    background-color: #bababa57;

}

.create-task:hover .plus {
    animation: plusRotate 1s;
}

@keyframes backgroundDarken {
    0% {
        background-color: var(--info-bg);
    }
    100% {
        background-color: #bababa57;
    }
}

@keyframes plusRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    padding: 0;
}

.task {
    display: grid;
    grid-template-columns: 20px 2fr 1fr 20px 20px ;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--info-bg);
    color: var(--text-color-intense);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.details-button {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.task-creation-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-creation-form input , .task-creation-form textarea, .select-project, .select-project-info {
    border: solid 1.5px var(--text-color);
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.task-creation-form input:focus, .task-creation-form textarea:focus {
    outline: 1px solid var(--text-color);
}

#task-description {
    height: 100px;
    padding: 10px;
    resize: none;
}

#task-info-description {
    height: 150px;
}

textarea {
    resize: none;
    overflow-y: visible;
}

#task-due-date {
    width: 50%;
}

.radios-task-priority, .radios-task-priority-info {
    display: flex;
    gap: 15px;
}
  
.radios-task-priority label, .radios-task-priority-info label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
input[type="radio"] {
    display: none; 
}

.select-project {
    width: 50%;
}
  
.radio-color, .radio-color-info {
    height: 20px;
    width: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    margin-right: 8px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}
  
#task-priority-red + .radio-color, #task-priority-red-info + .radio-color-info{
    border-color: var(--button-red);
}
#task-priority-yellow + .radio-color, #task-priority-yellow-info + .radio-color-info{
    border-color: var(--button-yellow);
}
#task-priority-green + .radio-color, #task-priority-green-info + .radio-color-info{
    border-color: var(--button-green);
}
  
#task-priority-red:checked + .radio-color, #task-priority-red-info:checked + .radio-color-info {
    background-color: var(--button-red);
}
#task-priority-yellow:checked + .radio-color, #task-priority-yellow-info:checked + .radio-color-info {
    background-color: var(--button-yellow);
}
#task-priority-green:checked + .radio-color, #task-priority-green-info:checked + .radio-color-info {
    background-color: var(--button-green);
}

.last-line {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
}

.modal-header div {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color-intense);
    cursor: pointer;
}

.add-task-btn, .info-btn {
  display: inline-block;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  z-index: 1;
}

.info-btn {
    width: 25%;
}

.add-task-btn::after, .info-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color-intense); 
  border-radius: 10px;
  z-index: -2;
}

.add-task-btn::before, .info-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: all .3s;
  border-radius: 10px;
  z-index: -1;
}

.add-task-btn::before {
    background-color: var(--button-green);
}

.info-btn::before {
    background-color: var(--button-yellow);
}

.delete-task-btn::before {
    background-color: var(--button-red);
}

.cancel-task-btn::before {
    background-color: var(--text-color-soft);
}

.save-task-btn::before {
    background-color: var(--button-green);
}

.add-task-btn:hover, .info-btn:hover {
  color: #fff;
}

.add-task-btn:hover::before, .info-btn:hover::before {
  width: 100%;
}

.modal {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 70;
    padding-bottom: 30px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 60;
}

.hidden {
    display: none;
}

.priority-red {
    background-color: var(--button-red);
    color: var(--text-color);
}

.priority-yellow {
    background-color: var(--button-yellow);
    color: var(--text-color);
}

.priority-green {
    background-color: var(--button-green);
    color: var(--text-color);
}

.checked-task {
    filter: opacity(0.65);
}

.checked-task .task-title {
    text-decoration: line-through;
}

.info {
    background-color: var(--info-bg);
    border-radius: 15px;
    color: var(--text-color);
}

.info-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.info-form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.info-form .info-buttons-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.info-header {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #ccc;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}

.info-header h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 15px;
}

.error {
    outline: var(--button-red) solid 2px;
}

.info-form input, .info-form textarea {
    border: solid 1.5px var(--text-color);
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    color: var(--text-color);
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}


.radios-task-priority-info  {
    display: flex;
    flex-direction: row;
}